.navigation {
	
}
body{
	background: #8af7ff;
}
header {
	background-color: #008080;
	width: 100%;
	position: fixed;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	
}
ul {
	padding: 20px;
	margin: 30px auto;
	text-align: center;
}
li {
	color: rgba(255, 255, 255, 75);
	display: inline;
	text-family: 'Helvetica', sans-serif;
}
